:root{
    --Primary-Background:#E8E8FD;
    --Secondary-Background: #EA4C3C;
    --Text-color: #292858;
    --Border-color: #9292AE;
    --Text-secondary: #B2B2CB;
    --Left-Section-color: #F8F8FF;
    --Middle-Section-color: #FEFEFF;
    --Right-Section-color: #FCFCFF;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  montserrat;
    /* font-family: Muli, sans-serif; */
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--Primary-Background);
    padding: 2rem;
}
.content{
    width: 80%;
    height: 650px;
    /* border: 2px solid black; */
    margin: auto;
    padding: 5px;
    position: relative;
}
a{
    color: var(--Text-color);
    transition: 0.5ms;
}
a:hover{
    color: var(--Secondary-Background);
}
.back{
    background-color: var(--Secondary-Background);
    width: 15%;
    height: 100%;
    border-radius: 40px;
}
.front-page{
    background: white;
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.front-page > .left{
    flex: 1;
    width: 15%;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    background-color: var(--Left-Section-color);
}
.left .info-holder{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.left .info-holder img{
    border-radius: 30%;
    width: 40px;
    height: 40px;
}
.left .info-holder h5{
    color: var(--Text-color);
}
.left .info-holder p{
    font-size: 11px;
    color: var(--Text-secondary);
}
.list-content{
    margin-bottom: 70px;
}
.list-content .icon{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    color: var(--Text-color);
}
 ion-icon{
    font-size: 25px;
    color: var(--Text-color);
}
.list-content .icon p{
    font-size: 14px;
    color: #2928589f;
}
.left .logout{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout p{
    font-size: 14px;
    color: #2928589f;
}
.front-page > .middle{
    flex: 2;
    width: 70%;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    background-color: var(--Middle-Section-color);
    color: var(--Text-color);
}
.middle .middle-content{
    padding-left: 10px;
}
.middle .middle-content .order-content-text{
    margin-top: 35px;

}
.middle .middle-content .order-content-text p{
    color: var(--Text-secondary);
    font-size: 11px;
}
.middle-content table{
    text-align: left;
    margin-top: 20px;
}
td{
    padding: 0px 40px 20px 0px;
}
button{
    padding: 10px;
    border: 1px solid var(--Border-color);
    border-radius: 5px;
    background-color: #ffffff;
    color: var(--Text-color);
    transition: 0.5s;
}
button:hover{
    color: #ffffff;
    background-color: var(--Text-color);
    cursor: pointer;
}
.visa-holder{
    margin-top: 5px;
    width: 80px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--Border-color);
    border-radius: 5px;
}
.front-page > .right{
    flex: 1;
    width: 15%;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    background-color: var(--Right-Section-color);
}
